:root {
  --pallet-01: #f9f8f7;
  --pallet-02: #e0dfde;
  --pallet-03: #c7c6c5;
  --pallet-06: #7c7c7b;
  --pallet-10: #181818;
  --green: #2a9d8f;
  --ff-default: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --ff-sevenbar: "7bar";
}
@font-face {
  font-family: "7bar";
  src: url("/blog/fonts/7bar.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-default);
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  background: var(--pallet-01);
  color: var(--pallet-10);
}
main {
  width: 750px;
  max-width: 100%;
  margin: auto;
}
:where(a) {
  color: var(--green);
  text-decoration: none;
}
@media (hover: hover) and (pointer: fine) {
  :where(a:hover) {
    cursor: pointer;
    text-decoration: underline;
  }
}
:where(img) {
	max-width: 100%;
	height: auto;
  vertical-align: top;
}
:where([data-astro-image]) {
  object-fit: var(--fit);
  object-position: var(--pos);
}
:where([data-astro-image='full-width']) {
  width: 100%;
}
:where([data-astro-image='constrained']) {
  max-width: 100%;
}
.monochrome {
  filter: grayscale(100%);
}
.coloring {
  filter: grayscale(0%);
  transition: filter .3s ease-in-out;
}
.photo-image {
  background: var(--pallet-03);
}
.inner {
  padding-inline: 1em;
}
.inner-break {
  margin-inline: -1em;
}
