---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import fallbackThumbnail from '../assets/thumbnail.png';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await getCollection('blog');
---

<BaseLayout>
  <h2>最新の投稿</h2>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={`/blog/${post.id}`} class="post">
            <Image src={post.data.thumbnail || fallbackThumbnail} alt="" loading="lazy" width="375" height="375" fit="cover" class="monochrome photo-image" />
            <div class="post-info">
              <h3>{post.data.title}</h3>
              <small><FormattedDate date={post.data.pubDate} /></small>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  h2 {
    text-align: center;
  }

  ul {
    display: grid;
    padding: 0;
    list-style: none;
  }

  .post {
    display: flex;
  }
  .post img {
    width: 300px;
    max-width: 50%;
  }
  .post-info {
    --border: 1px solid var(--pallet-02);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 0 1em 1em;
    border-top: var(--border);
    border-right: var(--border);
  }
  .post:last-child .post-info {
    border-bottom: var(--border);
  }
  .post-info small {
    margin-top: auto;
  }
</style>
